body
{
    padding:10px;
    margin:40px;
    font-size: 24px;
    font-family: Helvetica;
    background-image:url(http://cdn29.us1.fansshare.com/pictures/space/the-other-planet-wallpaper-cdc-background-644192409.jpg);
    background-repeat: repeat;
    color: white;
}

nav
{
    background-color: white;
    padding: 0px;
    color:#68b4f2;
}